body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.clearfix {
	overflow: hidden;
	background-color: blue;
}

.footerspace {
	padding-top: 50px;
}

.largeform {
	height: 400px;
}